*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body, html{
    height: 100%;
}
.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 50%;
}

.hero-text{
    text-align: center;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
}

.hero-text button:hover{
    background-color: #555;
    color: white;
}